{% extends 'base.html' %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end">
      <div class="col-md-9 ftco-animate pb-5">
      	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Login <i class="ion-ios-arrow-forward"></i></span></p>
        <h1 class="mb-0 bread">Login</h1>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section bg-light ftco-faqs">
	<div class="container">
		<div class="row">
				<div class="col-md-7 bg-white p-4 mx-auto"> 
					<h3 class="mb-4">Acesse sua conta</h3>
					<form method="POST" id="loginForm" name="loginForm" class="loginForm">
						<div class="row">
							<div class="col-md-12"> 
								<div class="form-group">
									<label class="label" for="email">E-mail</label>
									<input type="email" class="form-control" name="email" id="email" placeholder="E-mail">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="label" for="password">Senha</label>
									<input type="password" class="form-control" name="password" id="password" placeholder="Senha">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="hidden" name="redirect" id="redirect" value="{{request.GET.redirect}}">
									<input type="submit" value="Logar" class="btn btn-primary" id="btn-login">
									<div class="submitting"></div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<a href="/login/esqueci-senha" id="esqueci-senha" class="col-md-7">Esqueci minha senha</a>
									<a href="/login/cadastro" id="cadastro" class="col-md-5">Cadastre-se</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
	</div>
</section>
{% endblock %}


{% block content_js %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('.nav-item.login').addClass('active');

			$("#loginForm").submit(function(){

				if ($('#email').val() == "") {
					Swal.fire({
					  title: 'Erro!',
					  text: 'Digite seu e-mail',
					  icon: 'error'
					});

					return false;
				}

				if ($('#password').val() == "") {
					Swal.fire({
					  title: 'Erro!',
					  text: 'Digite sua senha',
					  icon: 'error'
					});

					return false;
				}

				var csrftoken = $('input[name=csrfmiddlewaretoken]').val();

				$.ajax({
					url: '/login/ajax',
					method: 'post',
					headers: {
						'X-CSRFToken': csrftoken
					},
					data: {
						'email': $('#email').val(),
						'password': $('#password').val()
					}
				}).done(function(response) {
					console.log(response);
					if (response.success == true) {
						if ($('#redirect').val() != "") {
							window.location.href=$('#redirect').val();
						}
						else {
							window.location.href="/login/area";
						}
					}
					else {
						Swal.fire({
						  title: 'Erro!',
						  text: response.message,
						  icon: 'error'
						});
					}
				}).fail(function() {
					Swal.fire({
					  title: 'Erro!',
					  text: 'E-mail e/ou senha inválidos',
					  icon: 'error'
					});
				});				

				return false;
			});
		});
	</script>
{% endblock %}